.Timer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 1px solid #3c4043;
  border-radius: 8px;
}

.Timer-controls {
  display: flex;
  flex-wrap: wrap;
}

.Timer-display {
  font-size: 3em;
  min-height: 70px;
}

.Timer-break {
  flex-basis: 100%;
  width: 0;
}
