.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e8eaed;
  padding: 32px;
  row-gap: 16px;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.App-header {
  font-size: 1.5em;
  flex: 0 0;
}

.App-main {
  flex-grow: 1;
  width: 100%;
}
