.DurationInput-main {
  display: inline-block;
  user-select: none;
}
.DurationInput-main:focus {
  outline: none;
}

.DurationInput-area {
  border-bottom: 2px solid #3c4043;
  cursor: pointer;
}
.DurationInput-area.editing {
  border-bottom: 2px solid #8ab4f8;
  cursor: default;
}

.Digit:not(.lit),
.Label:not(.lit) {
  color: #5f6368;
}

.DurationInput-area .Label.seconds {
  border-left: 1px solid transparent;
}
.DurationInput-area.editing .Label.seconds {
  border-left: 1px solid white;
}
